@font-face{
	font-family: sans-bold;
	src: url(../fonts/sans-bold.woff2);
}
@font-face{
	font-family: serif-normal1;
	src: url(../fonts/serif-normal1.woff2);
}
@font-face{
	font-family: serif-normal2;
	src: url(../fonts/serif-normal2.woff2);
}